

div .col {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    }
    
    .dark:before {
        content: "";
        display: block;
        padding-top: 100%;
    }
    
    .dark {
        background-color: #777777;
        border: 1px solid #777778;
        border-radius: 5px;
        color: #e8f0f1;
        margin: 5px;
        box-shadow: 5px 6px 10px #504f4f;
    }
    
    .square:hover {
        background-color: rgb(47, 18, 193);
    }
    

    
    .winner {
        background-color: rgb(220, 24, 24);
        animation-name: wiggle;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: 1;
    }
    
    span {
        font-size: 20px;
    }
    
    .modal {
        font-size: 20px;
        justify-content: center;
        text-align: center;
    }